@model IEnumerable<MidTest.Models.Book>
@using MidTest.Utilities

@{
  ViewData["Title"] = "Lei's Library";
}

<h1>LC-Library</h1>

<p>
  <a asp-action="Create">Create New</a>
</p>
<p>Number of new book records created in this session: @Context.Session.GetInt32("NumRecordsCreated")</p>
@await Html.PartialAsync("_Menu")
<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.PubID)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.ISBN)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Title)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Author)  

      </th>
      <th>
        @Html.DisplayNameFor(model => model.Area)  

      </th>
      <th>
        @Html.DisplayNameFor(model => model.Genre)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.CreatedBy)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.CreatedOn)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem
                 => item.PubID)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.ISBN)  

        </td>
        <td>
          @StringUtilities.ShortBookName(item.Title)
        </td>
        <td>
          @StringUtilities.ShortAuthorName(item.Author)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Area)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
          @Html.ActionLink("Edit", "Edit", new
            {
              id
                 = item.PubID
            }) |
          @Html.ActionLink("Details", "Details", new { id = item.PubID }) |
          @Html.ActionLink("Delete", "Delete", new { id = item.PubID })
        </td>
      </tr>
    }
  </tbody>
</table>
